/* styles.css */
@import url('./lumo-dark.css');
@import url('./lumo-light.css');

:root {
  /* Default to light theme */
}

[theme~="dark"] {
  /* Dark theme styles will be imported from lumo-dark.css */
}

#theme-toggle-button {
  width: 2em;
  height: 2em;
}

vaadin-grid::part(month-content) {
  border-top: none !important;
  border-bottom: none !important;
}

vaadin-grid::part(month-separator) {
  border-top: none !important;
  border-bottom: 1px solid var(--lumo-contrast-10pct) !important;
}

vaadin-grid::part(total-column) {
  border-right: 1px solid var(--lumo-contrast-10pct);
}

vaadin-grid::part(booking-type-column),
vaadin-grid::part(balance-column) {
  border-left: 1px solid var(--lumo-contrast-10pct);
}